.App {
  min-height: 100%;
  text-align: center;

}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  color: white;
}
.nav-logo {
  color: white;
}
.img-quantity {
  cursor: pointer;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.knives-images {
  border-radius: 16px;
  height: 300px;
  width: 300px;
}
.knives-images.cart {
  width: 175px;
  height: 175px;
}
.knives-name {
  color: black;
}
.knives-list.cart{
  display: grid;
  grid-template-columns: .1fr;
  border: 2px solid green;
}
.knives-list {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  background-color: #d4d4d4;
  border-radius: 32px;
}

.cartCards {
  border: 2px solid red;
}